@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

.ContainerLogo{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.divLogo{
    display: flex;
}
.imgLogo{
    width: 500px;
}
.imgNot{
    width: 100px;
    height: 100px;
}
.imgCoca{
    width: 600px;
    height: 600px;
}
.scrollDiv{
    height: 600px;
    overflow: scroll;
}
.divWeb a{
    padding-right: 10px;
}
.divWeb a img{
    width: 24px;
}
.menuHamb, .divBrowser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navAll{
    border-top: 4px solid #ED6D1B;
    padding: 7px 0;
    background-color: #f4f4f4;
}
.textPoppies{
    font-family: 'Poppies', sans-serif;
    color: #2b2b2b;
}
.navAllHambur{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #ED6D1B;
    padding: 7px 0;

}
.divLogoHamb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgLogoHamb{
    width: 350px;
}
.topVentas{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    padding: 50px ;
}
.textTopVentas{
    font-size: 5rem;
    font-weight: bold;
}
.lineWhite{
    border-top: 4px solid #eee;
    padding-right: 10%;
}
.sectionNoti{
    padding: 0 10%;
}
.divNoti{
    height: 500px;
    overflow-y: scroll;
    width: 500px;
}
@media (max-width: 750px){
    .imgNotFirst{
        width: 400px !important;
        height: 250px !important;
    }
    .divNoti{
        height: 500px !important;
        overflow-y: scroll;
        width: 400px !important;
    }
}
@media (max-width: 930px){
    .imgNotFirst{
        width: 700px;
        height: 400px;
    }
}
@media (max-width: 1090px){
    .notThird{
        display: none !important; 
    }
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textTopVentas{
        font-size: 3rem;
        font-weight: bold;
    }
}
@media (max-width: 1140px){
    .div-Container{
        display: none !important;
    }
    .navAll{
        justify-content: space-between;
    }
    .imgLogo{
        width: 380px;
    }
    
}
@media (max-width: 1400px){
    .sectionNoti{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .divAllNot{
        margin: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .divNoti{
        height: 500px;
        overflow-y: scroll;
        width: 600px;
    }
}
@media (max-width: 1140px){
    .div-Container{
        display: none !important;
    }
    .navAll{
        justify-content: space-between;
    }
    .imgLogo{
        width: 380px;
    }
}