<div class="modal fade" id="ingresarHamb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Correo electrónico</label>
                        <input type="email" id="form2Example1" class="form-control" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Contraseña</label>
                        <input type="password" id="form2Example2" class="form-control" />
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!" style="color: #ED6D1B;">¿Olvidé la contraseña?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-block mb-4 w-100 "
                        style="background-color: #ED6D1B;">Ingresar</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>¿No eres miembro? <a href="#!" style="color: #ED6D1B;">Registrate</a></p>
                        <p>o ingresa con:</p>
                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registroHamb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Nombre Completo input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Full name</label>
                        <input type="text" id="form2Example1" class="form-control" />
                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Username</label>
                        <input type="text" id="form2Example1" class="form-control" />
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Email</label>
                        <input type="email" id="form2Example1" class="form-control" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Password</label>
                        <input type="password" id="form2Example2" class="form-control" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Repeat password</label>
                        <input type="password" id="form2Example2" class="form-control" />
                    </div>
                    
                    <!-- Submit button -->
                    <button type="button" class="btn btn-block mb-4 w-100 "
                        style="background-color: #ED6D1B;">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Already a member? <a href="#!" style="color: #ED6D1B;">login</a></p>
                        <p>or register with:</p>
                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                            <i class="fa fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="ContainerLogo">
        <div class="divLogo">
            <a href=""><img class="imgLogo" src="assets/img/logo.png" alt=""></a>
        </div>
        <div class="divWeb">
            <a href="#"><img src="assets/img/twitter.ico" alt=""></a>
            <a href="#"><img src="assets/img/instagram.ico" alt=""></a>
            <a href="#"><img src="assets/img/facebook.ico" alt=""></a>
        </div>
    </div>
    <nav class="navAll d-flex">
        <div class="menuHamb col-3">
            <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"><i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header divLogoHamb pb-0">
                    <div class="w-100 d-flex justify-content-end">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="ContainerLogo">
                        <div class="divLogoHamb">
                            <a href=""><img class="imgLogoHamb" src="assets/img/logo.png" alt=""></a>
                            <div class="divWeb">
                                <a href="#"><img src="assets/img/twitter.ico" alt=""></a>
                                <a href="#"><img src="assets/img/instagram.ico" alt=""></a>
                                <a href="#"><img src="assets/img/facebook.ico" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="offcanvas-body pt-0 px-0">
                    <nav class="navAllHambur d-flex">
                        <div class="col-6  align-items-center d-flex justify-content-center">
                            <ul class="nav d-flex justify-content-center align-items-center flex-column">
                                <li class="nav-item">
                                    <a class="textPoppies nav-link active" aria-current="page" routerLink=" ">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="textPoppies nav-link" routerLink="/nosotros">ABOUT US</a>
                                </li>
                                <li class="nav-item">
                                    <a class="textPoppies nav-link" routerLink="/post">PUBLICATIONS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="textPoppies nav-link" routerLink="/dictionary">DICTIONARY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="textPoppies nav-link" routerLink="/contact">CONTACT US</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="textPoppies nav-link dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        LOGIN BLOGGER
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button type="button" class="btn w-100 " data-bs-toggle="modal"
                                                data-bs-target="#ingresarHamb">
                                                Ingresar
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn w-100" data-bs-toggle="modal"
                                                data-bs-target="#registroHamb">
                                                Registrarse
                                            </button>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <button type="button" class="btn w-100" data-bs-toggle="modal"
                                                data-bs-target="#ingresarHamb">
                                                Soy Blogger
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="div-Container col-6  align-items-center d-flex justify-content-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="textPoppies nav-link active" aria-current="page" routerLink=" ">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="textPoppies nav-link" routerLink="/nosotros">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="textPoppies nav-link" routerLink="/post">PUBLICATIONS</a>
                </li>
                <li class="nav-item">
                    <a class="textPoppies nav-link" routerLink="/dictionary">DICTIONARY</a>
                </li>
                <li class="nav-item">
                    <a class="textPoppies nav-link" routerLink="/contact">CONTACT US</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="textPoppies nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        LOGIN BLOGGER
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="btn w-100 " data-bs-toggle="modal" data-bs-target="#ingresar">
                                LOGIN
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn w-100" data-bs-toggle="modal" data-bs-target="#registro">
                                SIGN IN
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <button type="button" class="btn w-100" data-bs-toggle="modal" data-bs-target="#ingresar">
                                I'M A BLOGGER
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="modal fade" id="ingresar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="width: 450px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form *ngFor="let usuario of listUsuario">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example1">Correo electrónico</label>
                                    <input type="email" id="form2Example1" class="form-control" />
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2">Contraseña</label>
                                    <input type="password" id="form2Example2" class="form-control" formControlName="passwordLo" />
                                </div>

                                <!-- 2 column grid layout for inline styling -->
                                <div class="row mb-4">

                                    <div class="col">
                                        <!-- Simple link -->
                                        <a href="#!" style="color: #ED6D1B;">¿Olvidé la contraseña?</a>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button type="button" class="btn btn-block mb-4 w-100 "
                                    style="background-color: #ED6D1B;">Ingresar</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>¿No eres miembro? <a href="#!" style="color: #ED6D1B;">Registrate</a></p>
                                    <p>o ingresa con:</p>
                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-facebook"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="registro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="width: 450px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()">
                                <!-- Nombre Completo input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example1">Full name</label>
                                    <input type="text" id="form2Example1" class="form-control" formControlName="fullName"/>
                                    <span *ngIf="usuarioForm.get('fullName')?.hasError('required') && usuarioForm.get('fullName')?.touched" class="text-danger ps-1 fw-bold">El nombre completo es obligatorio</span>
                                </div>

                                <!-- Username input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example1">Username</label>
                                    <input type="text" id="form2Example1" class="form-control" formControlName="username" />
                                    <span *ngIf="usuarioForm.get('username')?.hasError('required') && usuarioForm.get('username')?.touched" class="text-danger ps-1 fw-bold">El username del usuario es obligatorio</span>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example1">Email</label>
                                    <input type="email" id="form2Example1" class="form-control" formControlName="email"/>
                                    <span *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched" class="text-danger ps-1 fw-bold">El correo electrónico es obligatorio</span>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" id="password" class="form-control" formControlName="password" />
                                    <span *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched" class="text-danger ps-1 fw-bold">La contraseña es obligatorio</span>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="vereficarClave">Repeat password</label>
                                    <input type="password" id="vereficarClave" formControlName="vereficarClave" class="form-control" />
                                </div>
                                
                                <!-- Submit button -->
                                <button #closeModal type="submit" class="btn btn-block mb-4 w-100 " [disabled]="usuarioForm.invalid " style="background-color: #ED6D1B;">Sign in</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>Already a member? <a href="#!" style="color: #ED6D1B;">login</a></p>
                                    <p>or register with:</p>
                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-facebook"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-floating mx-1" style="color: #ED6D1B;">
                                        <i class="fa fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divBrowser col-3">
            <div *ngIf="listUsuario.length > 0">
                <p *ngFor="let usuario of listUsuario"> {{usuario.username}} </p>
            </div>
        </div>
    </nav>
</section>

<section class="topVentas">
    <div class="container">
        <div class="d-flex">
            <span class="lineWhite"></span>
            <p class="fw-bold text-danger px-4">Get big sale today</p>
        </div>
        <h1 class="textTopVentas text-white">TOP VENTAS</h1>
        <button class="btn btn-danger my-5" type="button"> Shop Now</button>
        <div class="d-flex justify-content-between w-100">
            <div class=""> 
                <h3 class="text-white">ZAPATO #1</h3>
                <img src="https://via.placeholder.com/380x240" alt="">
                <h4 class="text-white d-flex justify-content-end">$100.000</h4>
            </div>
            <div class="" style="margin: 0 5%;">
                <h3 class="text-white">ZAPATO #2</h3>
                <img src="https://via.placeholder.com/380x240" alt="">
                <h4 class="text-white d-flex justify-content-end">$100.000</h4>
            </div>
            <div class=""> 
                <h3 class="text-white">ZAPATO #3</h3>
                <img src="https://via.placeholder.com/380x240" alt="">
                <h4 class="text-white d-flex justify-content-end">$100.000</h4>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <img src="https://via.placeholder.com/800x500" alt="">
</section>