<section class="h-100 gradient-form" style="background-color: #eee; height: 90vh;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="assets/img/logo.png"
                                        style="width: 185px;" alt="logo">
                                </div>

                                <form >
                                    <p class="text-center pb-3">Por favor, ingrese a su cuenta</p>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example11" class="form-control"/>
                                        <label class="form-label" for="form2Example11">Correo electrónico</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example22" class="form-control" />
                                        <label class="form-label" for="form2Example22">Contraseña</label>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="crearC btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit">Ingresar</button>
                                        <a class="text-muted" href="#!">¿Se te olvidó tu contraseña?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4 ">
                                        <p class="mb-0 me-2">¿No tienes una cuenta?</p>
                                        <button type="button" routerLink="/register" class=" btn btn-outline-danger">Crear nueva</button>
                                    </div>

                                    <div class="container d-flex justify-content-center">
                                        <button type="button" routerLink="/register" class=" btn btn-outline-secondary " routerLink=" ">Ir a Inicio</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4 text-center">Somos un blog dedicado a la cultura Sneakers</h4>
                                <p class="small mb-0 text-center">Creado por: Bairon Sánchez, Carlos Hernández, Walter Quitian tres estudiantes de programación web del BOGOTÁ INSTITUTE OF TECHNOLOGY, que buscar mostrar su talento en el diseño y la programación, generando así un espacio de conocimiento para los todos los SNEAKERS LOVERS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>