<app-navbar></app-navbar>
<section class="topVentas">
    <div class="container">
        <div class="d-flex">
            <span class="lineWhite"></span>
            <p class="fw-bold text-danger px-4">Stay in touch</p>
        </div>
        <h1 class="textTopVentas text-white">Contact Us</h1>
    </div>
</section>

<section class="sectionContact">
    <div class="container">
        <div>
            <p class="h1 fw-bold pb-5">Get In Touch With Us</p>
            <div class="d-flex align-items-center">
                <i class="faCont fa fa-map-marker fs-3 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">Bogota, Colombia</p>
            </div>
            <div class="d-flex align-items-center py-4">
                <i class="faCont fa fa-envelope fs-5 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">support@sneakers.com</p>
            </div>
            <div class="d-flex align-items-center ">
                <i class="faCont fa fa-phone-square fs-4 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">(+57) 301 456 0323</p>
            </div>
            <div class="py-4">
                <i class="faIconFace fs-5  fa fa-facebook text-white" aria-hidden="true"></i>
                <i class="faIcon fs-5  fa fa-twitter mx-3 text-white" aria-hidden="true"></i>
                <i class="faIcon fs-5  fa fa-instagram text-white" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>