<app-navbar></app-navbar>
<section class="topVentas">
    <div class="container">
        <div class="d-flex">
            <span class="lineWhite"></span>
            <p class="fw-bold text-danger px-4">Nueva</p>
        </div>
        <h1 class="textTopVentas text-white">Publicación</h1>
    </div>
</section>

<section class="container">
    <div class="d-flex justify-content-between align-items-center my-5">
            <h1 class="fw-bold">Tus publicaciones</h1>
            <button routerLink="/crear-publicacion" type="button" class="btn btn-success ">Crear Publicación</button>
    </div>
    <h3>Total de publicaciones: {{listarPost.length}}</h3>
    <table *ngIf="listarPost.length > 0" class="mt-4 table table-responsive table-striped"> 
        <thead>
            <tr>
                <th>Titulo</th>
                <th>fec_crea</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let miPost of listarPost">
                <td>{{miPost.titleArticle}}</td>
                <td></td>
                <td>
                    <button class="btn btn-warning mx-2 btn-sm" [routerLink]="['/actualizar-publicacion', miPost._id]" routerLinkActive="router-link-active" >Editar</button>
                    <button class="btn btn-danger mx-2 btn-sm" (click)="eliminarPost(miPost._id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-danger text-center fw-bold" *ngIf="listarPost.length == 0">No hay publicaciones registradas</h2>
    
</section>