<app-navbar></app-navbar>
<section class="topVentas">
    <div class="container">
        <div class="d-flex">
            <span class="lineWhite"></span>
            <p class="fw-bold text-danger px-4">Stay in touch</p>
        </div>
        <h1 class="textTopVentas text-white">Contact Us</h1>
    </div>
</section>

<section class="sectionContact">
    <div class="container">
        <div>
            <p class="h1 fw-bold pb-5">Get In Touch With Us</p>
            <div class="d-flex align-items-center">
                <i class="faCont fa fa-map-marker fs-3 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">Bogota, Colombia</p>
            </div>
            <div class="d-flex align-items-center py-4">
                <i class="faCont fa fa-envelope fs-5 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">support@sneakers.com</p>
            </div>
            <div class="d-flex align-items-center ">
                <i class="faCont fa fa-phone-square fs-4 pe-3" aria-hidden="true"></i>
                <p class="m-0 fw-bold text-secondary">(+57) 301 456 0323</p>
            </div>
            <div class="py-4">
                <i class="faIconFace fs-5  fa fa-facebook text-white" aria-hidden="true"></i>
                <i class="faIcon fs-5  fa fa-twitter mx-3 text-white" aria-hidden="true"></i>
                <i class="faIcon fs-5  fa fa-instagram text-white" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>


<div class="container mt-5">
    <div class="row">
        <div class=" col-1 "></div>

        <div class="col-7 pe-5 mb-5" style="text-align: justify; font-family: 'Lato', sans-serif;">

            <div class="conteiner">
                <h4 class="mt-5 ">Nueva Publicación</h4>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Título del Artículo:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Publicación:</label>
                    <textarea class="form-control" style="height: 400px;" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Agrerar foto publicación:</label>
                    <input class="form-control" type="file" id="formFile">
                </div>




                <button type="button" class="btn btn-warning">Publicar artículo</button>

            </div>
        </div>