<app-navbar></app-navbar>

<div class=" bg-body "></div>

<section class="w-100">
    <section class="topVentas">
        <div class="container">
            <div class="d-flex">
                <span class="lineWhite"></span>
                <p class="fw-bold text-danger px-4">¿ Quiénes somos </p>
            </div>
            <h1 class="textTopVentas text-white">Nosotros ?</h1>
        </div>
    </section>
    <section class="py-5 responsil">
        <div class="container hijo">
            <h4 class=" col-7 parrafo">Somos un blog dedicado a la cultura Sneakers</h4>
            <img class="imgTenisas col-5" src="assets/img/nosotros_01.jpeg" alt="">
        </div>
    </section>
    <div class="caja container">
        <div class="container d-flex text-start" >
            <p> Es un blog dedicado a los fanáticos del "mundo Sneakers"  (Zapatillas), siendo esta toda una cultura a nivel mundial y hace algunos años en Colombia; sus creadores son: Bairon Sánchez, Carlos Hernández, Walter Quitian tres estudiantes de programación web del <b>BOGOTÁ INSTITUTE OF TECHNOLOGY</b>, que buscar mostrar su talento en el diseño y la programación, generando así un espacio de conocimiento en el mundo SNEAKERS.
                <br>
                <br>
            </p>
        </div>
        <div class="container d-flex text-start p">
        </div>
        <hr>
        <h3 class="cultura">La historia de la cultura Sneaker - De los B-BOYS a los Sneakerheads</h3>
        <p class="historia m-3 p-4"> La cultura sneaker comenzó a finales de la década de los 70 en Nueva York, como parte del movimiento b-boy y del hip-hop. La ropa urbana era toda un emblema para distinguirse del resto de subculturas y las zapatillas comenzaron a ser personalizables, ya fuese combinando los colores de cordones o pintando las rayas de un par de Adidas.
            En cuanto un b-boy encontrase unas zapas que le gustasen, compraría un par de más para poder tenerlas a mano cuando las viejas se desgastaran.
            La verdadera moda de coleccionar sneakers llegó a los Estados Unidos cuando Nike y Michael Jordan introdujeron las Air Jordans en 1985.
            Ya podían salir a más de 100 dólares el par, que no había tienda en las que estas zapatillas de baloncesto durarán demasiado tiempo en exhibición. Las Jordans se convirtieron rápidamente en todo un icono de la cultura sneaker.
            Nike seguía produciendo nuevos modelos de Air Jordan cada año. Las zapatillas fueron tan populares, que a principios de los noventa, 1 de cada 12 estadounidenses tenía un par.
            Sin embargo, la popularidad de las Jordans creó una reacción algo violenta entre los aficionados a las zapatillas de deporte, que siempre quisieron que sus sneakers destacarán entre el resto. Estos sneakerheads comenzaron a rebuscar en los cuartos traseros de las zapaterías más vintage para encontrar estilos que ya no se crearán.
        </p>
    <hr>
        <div class="container d-flex text-start p">
    
        </div>
        <h3 class="cultura">Air Force 1 - Toda una joya en tus pies</h3>
        <section class="row">
            <div class=" container col-md-5">
            <video src="/assets/video/Air_Force1.mp4" controls width="90%"></video>
            </div>
            <div class=" container col-lg-7">
                <p class="historia m-3 p-4"> La cultura sneaker comenzó a finales de la década de los 70 en Nueva York, como parte del movimiento b-boy y del hip-hop. La ropa urbana era toda un emblema para distinguirse del resto de subculturas y las zapatillas comenzaron a ser personalizables, ya fuese combinando los colores de cordones o pintando las rayas de un par de Adidas.
                    En cuanto un b-boy encontrase unas zapas que le gustasen, compraría un par de más para poder tenerlas a mano cuando las viejas se desgastaran.
                    La verdadera moda de coleccionar sneakers llegó a los Estados Unidos cuando Nike y Michael Jordan introdujeron las Air Jordans en 1985.
                    Ya podían salir a más de 100 dólares el par, que no había tienda en las que estas zapatillas de baloncesto durarán demasiado tiempo en exhibición. Las Jordans se convirtieron rápidamente en todo un icono de la cultura sneaker.
                    Nike seguía produciendo nuevos modelos de Air Jordan cada año. Las zapatillas fueron tan populares, que a principios de los noventa, 1 de cada 12 estadounidenses tenía un par.
                    Sin embargo, la popularidad de las Jordans creó una reacción algo violenta entre los aficionados a las zapatillas de deporte, que siempre quisieron que sus sneakers destacarán entre el resto. Estos sneakerheads comenzaron a rebuscar en los cuartos traseros de las zapaterías más vintage para encontrar estilos que ya no se crearán.
                </p>
            </div>
        </section>
        <hr>
        <h3 class="cultura">Sneaker Society la reunión en COLOMBIA para los SNAKERS LOVERS</h3>
        <section class="col">
            <div class=" container col-lg-8">
                <video src="/assets/video/Medellin.mp4" controls width="100%"></video>
            </div>
            <div class=" container col-md-11">
                <p class="historia m-3 p-4"> La feria de sneakers y streetwear de Colombia Sneaker Society a la cual asistío Carlos Hernandez (Co-Creador de este Blog), celebró su cuarta edición el pasado 7 de octubre. El evento, que se realizó en el centro de eventos El Tesoro, en la ciudad de Medellín, contó con la asistencia de un promedio de 10.000 visitantes en sus pasillos. 
                    Según señala la organización, Sneaker Society es a la fecha la feria de sneakers y streetwear más importante de Colombia y Sudamérica, con un enfoque comercial y cultural que busca implantar esta tendencia como cultura en la región. 
                    Nike, Adidas, New Balance, Sprayground, Agaval Store y Crep Protect, se incluyen entre los patrocinadores de esta edición, donde también se suma Falabella en Colombia. Actualmente, la feria presentó un centenar de ejemplares y comerciantes, desde emprendedores y revendedores, hasta las grandes marcas y sus propuestas de edición limitada. 
                    La feria que nació en 2019 con la participación de 2500 asistentes y 12 invitados especiales, ha crecido a grandes pasos de la mano de los embajadores de marca y el alza en la demanda de la categoría. Para la edición de 2021 ya contaba con más de 5000 asistentes, 16 sneaker talks y más de 15 invitados internacionales. 
                    La cultura urbana toma cada vez más fuerza en Medellín y en todo Colombia, en línea con la tendencia internacional, pero también de la mano de la evolución propia de la ciudad, donde desde hace más de una década los jóvenes cambiaron la violencia por el arte, la música y la cultura.
                    
                </p>
            </div>
            
        </section>

    </div>
        

    
</section>