<app-navbar></app-navbar>

<div class=" bg-body "></div>

<section class="w-100">
    <section class="topVentas">
        <div class="container">
            <div class="d-flex">
                <span class="lineWhite"></span>
                <p class="fw-bold text-danger px-4">¿ Quiénes somos </p>
            </div>
            <h1 class="textTopVentas text-white">Nosotros ?</h1>
        </div>
    </section>
    <section class="py-5 responsil">
        <div class="container hijo">
            <h4 class=" col-7 parrafo">Somos un blog dedicado a la cultura Sneakers</h4>
            <img class="imgTenisas col-5" src="assets/img/nosotros_01.jpeg" alt="">
        </div>
    </section>
    <div class="caja container">
        <div class="container d-flex text-start" >
            <p> Es un blog dedicado a los fanáticos del "mundo Sneakers"  (Zapatillas), siendo esta toda una cultura a nivel mundial y hace algunos años en Colombia; sus creadores son: Bairon Sánchez, Carlos Hernández, Walter Quitian tres estudiantes de programación web del <b>BOGOTÁ INSTITUTE OF TECHNOLOGY</b>, que buscar mostrar su talento en el diseño y la programación, generando así un espacio de conocimiento en el mundo SNEAKERS.
                <br>
                <br>
            </p>
        </div>
        <div class="container d-flex text-start p">
            
        </div>
        <h3 class="cultura">La historia de la cultura Sneaker - De los B-BOYS a los Sneakerheads</h3>
        <p class="historia m-3 p-4"> La cultura sneaker comenzó a finales de la década de los 70 en Nueva York, como parte del movimiento b-boy y del hip-hop. La ropa urbana era toda un emblema para distinguirse del resto de subculturas y las zapatillas comenzaron a ser personalizables, ya fuese combinando los colores de cordones o pintando las rayas de un par de Adidas.
            En cuanto un b-boy encontrase unas zapas que le gustasen, compraría un par de más para poder tenerlas a mano cuando las viejas se desgastaran.
            La verdadera moda de coleccionar sneakers llegó a los Estados Unidos cuando Nike y Michael Jordan introdujeron las Air Jordans en 1985.
            Ya podían salir a más de 100 dólares el par, que no había tienda en las que estas zapatillas de baloncesto durarán demasiado tiempo en exhibición. Las Jordans se convirtieron rápidamente en todo un icono de la cultura sneaker.
            Nike seguía produciendo nuevos modelos de Air Jordan cada año. Las zapatillas fueron tan populares, que a principios de los noventa, 1 de cada 12 estadounidenses tenía un par.
            Sin embargo, la popularidad de las Jordans creó una reacción algo violenta entre los aficionados a las zapatillas de deporte, que siempre quisieron que sus sneakers destacarán entre el resto. Estos sneakerheads comenzaron a rebuscar en los cuartos traseros de las zapaterías más vintage para encontrar estilos que ya no se crearán.
        </p>
    </div>
    
</section>