<app-navbar></app-navbar>

<div class=" bg-body "></div>
    <section class="d-flex  Nosotros ">
            <div class="d-flex hijoNosotros">
                <span class="lineWhite"></span>
                <p class="fw-bold text-danger px-4">Stay In Touch</p>
            </div>
        <div class="Nosotros-texto " >
            <h1>ABOUT US</h1>
        </div>
    </section>
    
    <section>
        <div>
            <img class="imgTenis" src="assets/img/zapatos-cerca-corredor-femenino-atar-sus-zapatos-ejercicio-jogging_1150-4203.jpg" alt="">
            <h2 class="fw-bold align-text-bottom mx-5">How to Ubgrading Style <br>Fashion</h2>
            <p></p>
        </div>
    </section>
    <div class="espacio-imagen">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta porro repellat expedita quam veniam ab perferendis earum doloribus maxime sint. Sit alias numquam velit harum, voluptates doloremque. Harum fugiat numquam nam voluptate a excepturi, unde totam itaque, enim mollitia tempore? Quisquam omnis architecto beatae quam maxime pariatur possimus quis maiores.</p>
    </div>