<section>
    <section class="sectionNav">
        <nav class="navAll d-flex">

            <!-- MENU HAMBURGUESA navbar------------ inicio------------------------->
            <div class="menuHamb col-1">
                <button class="btn d-xl-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                        class="fa fa-bars ms-4" style="font-size: 28px;" aria-hidden="true"></i>
                </button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                    aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header divLogoHamb">
                        <div class="w-100 d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="ContainerLogo">
                            <div class="divLogoHamb">
                                <a href=""><img class="imgLogoHamb" style="width: 210px;" src="assets/img/logo.png"
                                        alt=""></a>
                                <div class="divWeb">
                                    <button type="button" class="btn" (click)="abrirAlerta()"> <img
                                            src="assets/img/twitter.ico" alt=""></button>
                                    <button type="button" class="btn" (click)="abrirAlerta()"> <img
                                            src="assets/img/instagram.ico" alt=""></button>
                                    <button type="button" class="btn" (click)="abrirAlerta()"> <img
                                            src="assets/img/facebook.ico" alt=""></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="offcanvas-body pt-0 px-0">
                        <nav class="navAllHambur d-flex">
                            <div class="col-6  align-items-center d-flex justify-content-center">
                                <ul class="nav d-flex justify-content-center align-items-center flex-column">
                                    <li class="nav-item">
                                        <a class="textPoppies nav-link" routerLink=" ">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="textPoppies nav-link" routerLink="/nosotros">Nosotros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="textPoppies nav-link" routerLink="/publicaciones">Publicaciones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="textPoppies nav-link" routerLink="/diccionario">Diccionario</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="textPoppies nav-link" routerLink="/contacto">Contacto</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="textPoppies nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Ingresar
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="text-decoration-none w-100 d-flex justify-content-center align-items-center py-1 text-black" routerLink="/ingreso">Ingresar</a>
                                            </li>
                                            <li>
                                                <a class="text-decoration-none w-100 d-flex justify-content-center align-items-center py-1 text-black" routerLink="/registro">Registrarse</a>
                                            </li>
                                            <!-- <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <button type="button" class="btn w-100" data-bs-toggle="modal"
                                                    data-bs-target="#ingresarHamb">
                                                    Soy Blogger
                                                </button>
                                            </li> -->
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- MENU HAMBURGUESA navbar-------- final ----------------------------->

            <!-- NAVBAR ------------- inicio ------------------------>
            <!-- NAVBAR LOGO------------------------------------->
            <div class="menuHamb col-2">
                <a routerLink=" ">
                    <img class="imgLogo" src="assets/img/logo.png" width="200px" height="72px" alt="">
                </a>
            </div>
            <!-- NAVBAR ------------------------------------->
            <div class="div-Container col-6 align-items-center d-flex justify-content-center">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="textPoppies nav-link" routerLink=" ">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="textPoppies nav-link" routerLink="/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="textPoppies nav-link" routerLink="/publicaciones">Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="textPoppies nav-link" routerLink="/diccionario">Diccionario</a>
                    </li>
                    <li class="nav-item">
                        <a class="textPoppies nav-link" routerLink="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="textPoppies nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Ingresar
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="text-decoration-none w-100 d-flex justify-content-center align-items-center py-1 text-black" routerLink="/ingreso">Ingresar</a>
                            </li>
                            <li>
                                <a class="text-decoration-none w-100 d-flex justify-content-center align-items-center py-1 text-black" routerLink="/registro">Registrarse</a>
                            </li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button type="button" class="btn w-100" data-bs-toggle="modal"
                                    data-bs-target="#ingresar">
                                    Soy Blogger
                                </button>
                            </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="divBrowser col-3">
                <div>
                    <a href="" style="font-size:13px ;">
                        Username
                    </a>
                </div>
            </div>
            <!-- NAVBAR -------------- fin ---------------->
        </nav>
    </section>


</section>