<app-navbar></app-navbar>
<section class="container w-100">
    <div class="w-100 d-flex justify-content-center">
        <div class="col-10 mb-5" style="text-align: justify; font-family: 'Lato', sans-serif;">
            <h1 class="fw-bold my-5">{{titulo_formulario | uppercase}}</h1>
            <form [formGroup]="postForm" (ngSubmit)="dataPost()" class="conteiner w-100">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Título del Artículo:</label>
                    <input type="text" formControlName="titleArticle" class="form-control"
                        id="exampleFormControlInput1">
                    <span
                        *ngIf="postForm.get('titleArticle')?.hasError('required') && postForm.get('titleArticle')?.touched"
                        class="text-danger ps-1"> El titulo de la publicacion es necesaria</span>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Publicación:</label>
                    <textarea class="form-control" formControlName="post" style="height: 400px;"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span *ngIf="postForm.get('post')?.hasError('required') && postForm.get('post')?.touched"
                        class="text-danger ps-1"> El contenido de la publicacion es necesaria</span>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Agregar banner de la publicación:</label>
                    <input class="form-control" formControlName="banner" type="text" id="formFile">
                    <span *ngIf="postForm.get('banner')?.hasError('required') && postForm.get('banner')?.touched"
                        class="text-danger ps-1"> El banner de la publicacion es necesaria</span>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Agregar primera foto de la publicación:</label>
                    <input class="form-control" formControlName="img" type="text" id="formFile">
                    <span *ngIf="postForm.get('img')?.hasError('required') && postForm.get('img')?.touched"
                        class="text-danger ps-1"> La imagen principal de la publicacion es necesaria</span>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Agregar segunda foto de la publicación:</label>
                    <input class="form-control" formControlName="img2" type="text" id="formFile">
                    <span *ngIf="postForm.get('img2')?.hasError('required') && postForm.get('img2')?.touched"
                        class="text-danger ps-1"> La imagen secundaria de la publicacion es necesaria</span>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="postForm.invalid">Publicar artículo</button>
                <button type="submit" class="btn btn-warning mx-3" routerLink="/nueva-publicacion" >Ver publicaciones</button>
            </form>
        </div>
    </div>
</section>