.divPubli{
    display: flex;
}
.imgPost{
    width: 500px;
    height: 500px;
    padding: 0% 0;
}
.scrollDiv{
    overflow: scroll;
    width: 280px;
    height: 700px !important;
}
.imgPubli{
    width: 230px;
    height: 230px;    
}
.ultimasNot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 1000px) {
    .divPubli{
        display: flex;
        flex-direction: column;
    }
    .imgPost{
        width: 400px;
        height: 400px;
    }
    .div2{
        width: 90vw;
    }
    .ultimasNot{
        margin-left: 0 !important;
    }
    .textUltimaNot{
        width: 300px;
        text-align: center;
    }
}