<app-navbar></app-navbar>
<section style=" height:350px; background-image: url('../assets/img/Banner_01'); ">
    <div class="container d-flex flex-column align-items-start justify-content-end p-5 h-100">
        <h3> NUEVAS ZAPATILLAS DE LUJO NIKE</h3>
        <h6> Escrito por: Carlos Hernandez</h6>
    </div>
</section>

<!-- Button trigger modal -->
<button type="button" class=" mt-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ESCUCHAR EMISORA
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center" style=" width:340px;">
            <div class="modal-header d-flex justify-content-start">
                <h5 class="modal-title" id="exampleModalLabel">Sneakers Likes RADIO</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center transform:;">
                    <video style="width:640px; height:360px" controls="" autoplay="" name="media" style="transform: translateY(-77px);">
                        <source src="https://s5.radio.co/sc93e208e6/listen" type="audio/mpeg">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
            
            
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row">
        <div class=" col-1 "></div>

        <div class="col-7 pe-5 mb-5" style="text-align: justify; font-family: 'Lato', sans-serif;">
            <div> 
                <div> 
                    <h6cd>Fecha de Publicacion: Octubre 10 2022</h6cd>
                </div>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti perferendis sit, dignissimos, officia
            fugit, debitis dolorum laborum repellat sapiente amet eum possimus! Expedita inventore dolores,
            perspiciatis vel nihil cupiditate quis.

            <div class="container mt-2 p-1" style="background-color: rgb(236, 236, 236);">
                <h4 class="mt-4 ms-5 ">Últimos Comentarios:</h4>
                <h6 class="mt-5 ms-5">Jorge Fernando dice:</h6>
                <div class="p-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse suscipit at
                    reprehenderit voluptate quisquam ad voluptatibus, inventore voluptatem consequuntur saepe enim
                    eos delectus iusto deleniti possimus eveniet eligendi provident incidunt?</div>
            </div>
            <div class="conteiner">
                <h4 class="mt-5 ">Nuevo Comentario</h4>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label, height: 200px;">Comentario:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="nombre@ejemplo.com">
                </div>
                <button type="button" class="btn btn-secondary">Guardar Comentario</button>

            </div>
        </div>


        <div class="col-3">ULTIMAS NOTICIAS
            <div class="conteiner mt-3">
                <h5> NOTICIA 1</h5>
                <div> <img src="https://i.ebayimg.com/images/g/CE0AAOSwyDdgizQx/s-l1600.jpg" style="width:100% ;"
                        alt=""></div>
                <span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ab sit consequuntur culpa
                </span>
                <h5 class=" mt-4"> NOTICIA 2</h5>
                <div> <img src="https://i.ebayimg.com/images/g/CE0AAOSwyDdgizQx/s-l1600.jpg" style="width:100% ;"
                        alt=""></div>
                <span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ab sit consequuntur culpa
                </span>
                <h5 class=" mt-4"> NOTICIA 3</h5>
                <div> <img src="https://i.ebayimg.com/images/g/CE0AAOSwyDdgizQx/s-l1600.jpg" style="width:100% ;"
                        alt=""></div>
                <span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ab sit consequuntur culpa
                </span>
            </div>
        </div>
    </div>
</div>