<footer class="d-flex align-items-center ">
    <div class="divAll d-flex align-items-center w-100" style="padding: 0 10%;">
        <div class="col-4 d-flex justify-content-center">
            <img class="imgLogo" src="assets/img/logoWhite.png" width="350px" alt="">
        </div>
        <div class="divFaIcon col-4 d-flex justify-content-center">
            <i class="faIcon fa fa-facebook-official text-white " aria-hidden="true"></i>
            <i class="faIcon fa fa-twitter text-white px-3" aria-hidden="true"></i>
            <i class="faIcon fa fa-instagram text-white " aria-hidden="true"></i>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <p class="textDerechos text-white m-0">Sneakers Likes © 2022. Made with by DesignSNL</p>
        </div>
    </div>
    
</footer>