<footer class="d-flex align-items-center ">
    <div class="d-flex align-items-center w-100" style="padding: 0 10%;">
        <div class="col-4">
            <img src="assets/img/logoWhite.png" width="350px" alt="">\
        </div>
        <div class="col-4 d-flex justify-content-center">
            <i class="fa fa-facebook-official text-white " style="font-size: 28px;" aria-hidden="true"></i>
            <i class="fa fa-twitter text-white px-3" style="font-size: 28px;" aria-hidden="true"></i>
            <i class="fa fa-instagram text-white " style="font-size: 28px;" aria-hidden="true"></i>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <p class="text-white">Sneakers Likes © 2022. Made with by DesignSNL</p>
        </div>
    </div>
    
</footer>