<footer class="d-flex align-items-center ">


    <!--CÓDIGO CON EL LINK DE WHATSAPP API-->
    <!-- <a data-bs-toggle="modal" data-bs-target="#radioModal" class="floatWapp" target="_blank">  -->
        <!-- <i class="fa fa-whatsapp my-floatWapp"></i> -->
        <!-- <i class="fa fa-music my-floatWapp" aria-hidden="true"></i> -->
    <!-- </a> -->

    <!-- Modal -->
    <div class="modal fade" id="radioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Radio Sneakers Likes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video controls="" name="media" style="transform: translateY(-38px);">
                        <source src="https://s5.radio.co/sc93e208e6/listen" type="audio/mpeg">
                    </video>
                </div>
                <div class="modal-footer">
                    <h5 class="modal-title">24 Horas de música</h5>  
                </div>
            </div>
        </div>
    </div>


    <div class="btn floatWapp" data-bs-toggle="modal" data-bs-target="#radioModal"></div>

    <div class="divAll d-flex align-items-center w-100" style="padding: 0 10%;">
        <div class="col-4 d-flex justify-content-center">
            <img class="imgLogo" src="assets/img/logoWhite.png" width="350px" alt="">
        </div>
        <div class="divFaIcon col-4 d-flex justify-content-center">
            <i class="faIcon fa fa-facebook-official text-white " aria-hidden="true"></i>
            <i class="faIcon fa fa-twitter text-white px-3" aria-hidden="true"></i>
            <i class="faIcon fa fa-instagram text-white " aria-hidden="true"></i>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <p class="textDerechos text-white m-0">Sneakers Likes © 2022</p>
        </div>
    </div>

</footer>