footer {
    height: 120px;
    background-color: #ED6D1B;
}

.faIcon {
    font-size: 28px;
}

@media (max-width: 1020px) {
    .divAll {
        flex-direction: column;
    }

    .imgLogo {
        width: 200px;
    }

    .divFaIcon {
        padding: 2% 0;
    }

    .faIcon {
        font-size: 20px;
    }

    .textDerechos {
        font-size: 10px;
        margin: 0;
    }
}

/* BOTON FLOTANTE  */
.floatWapp {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 50px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(156, 156, 156, 0.355);
    z-index: 100;
}

.my-floatWapp {
    margin-top: 16px;
}

/* BOTON HOVER  */
.btn {
    width: 122px;
    height: 45px;
    background: #000000;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.btn::before {
    font-family:'FontAwesome';
    content: "\f001";
    font-size: 32px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}

.btn:hover::before {
    top: -30px;
}

.btn::after {
    content: 'Emisora';
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}

.btn:hover::after {
    top: 50%;
}